*{
    margin: 0;
    padding: 0;
}
.clearfix::after{
    content: "";
    clear: both;
    display: block;
}
[text-ellipsis]{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.scroll-list{
    display: block;
    height: 150px;
    border:1px solid #a1a1a1;
}
/*ul 类样式*/
.scroxt-ul{

}
.horizontal-left .scroxt-ul{
    margin-left: 140px;
}

/*水平滚动*/
.horizontal-right li, .horizontal-left li{
    float: left;
    list-style: none;
}
.horizontal-left li{
    margin-right: 10px;
}
.horizontal-right li{
    margin-left: 10px;
}

/*单条滚动*/
.scroll-box{
    width: 140px;
    height: 100px;
    margin: 0 auto;
    margin-top: 25px;
    border:1px solid blue;
    overflow: hidden;
}





/*水平滚动*/
.scroxt-wrapper{
  width: 1000px;
}
.scroxt-wrapper::after{
    display: block;
    content: "";
    clear: both;
}
.scroxt-horizontal{
    float: left;
    margin-right: 10px;
}














/*弹幕*/
.scroxt-video-barrage{
    position: relative;
    width: 600px;
    height: 600px;
    margin: 0 auto;
    overflow: hidden;
}
.scroxt-video{
    display: block;
    width: 100%;
    height: auto;
    cursor: pointer;
}
.multi-barrage-line{
  position: absolute;
  display: inline-block;
  top: 0;
  user-select:none;
  white-space: pre;
  color: #fff;
  font-size: 25px;
  font-family:SimHei, "Microsoft JhengHei", Arial, Helvetica, sans-serif;
  font-weight:bold;
  line-height: 1.125;
  text-shadow:rgb(0, 0, 0) 1px 0px 1px, rgb(0, 0, 0) 0px 1px 1px, rgb(0, 0, 0) 0px -1px 1px, rgb(0, 0, 0) -1px 0px 1px;
  transition:-webkit-transform 0s linear;
  z-index: 1;
  pointer-events: none;
}
.static-barrage-line{
  position: absolute;
  left: 50%;
  transform:translateX(-50%);
  -webkit-transform:translateX(-50%);
  top: 0;
  z-index: 2;
}




















